In [1]:
#import Dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [28]:
#Store created csv in DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tura,IN,2021-11-28 00-58-00,25.5198,90.2201,58.98,74,38,3.13
1,1,Srandakan,ID,2021-11-28 00-58-01,-7.9386,110.2506,76.93,88,100,4.70
2,2,Port Alfred,ZA,2021-11-28 00-58-02,-33.5906,26.8910,66.07,71,96,9.82
3,3,Kailua,US,2021-11-28 00-58-03,21.4022,-157.7394,80.58,69,0,6.64
4,4,Kodiak,US,2021-11-28 00-55-14,57.7900,-152.4072,14.50,75,64,12.46
...,...,...,...,...,...,...,...,...,...,...
561,561,Muroto,JP,2021-11-28 01-13-11,33.2833,134.1500,52.75,49,0,8.10
562,562,Mujiayingzi,CN,2021-11-28 01-13-12,42.1167,118.7833,33.89,63,100,7.47
563,563,Hof,DE,2021-11-28 01-13-12,50.3167,11.9167,31.23,100,75,3.44
564,564,Cairns,AU,2021-11-28 01-13-13,-16.9167,145.7667,85.95,70,40,10.36
565,565,Marystown,CA,2021-11-28 01-13-14,47.1666,-55.1483,47.28,87,100,12.50

In [29]:
city_data_df.dtypes
city_data_df.at[7,"Max Temp"] = 0
city_data_df.dropna(inplace=True)
city_data_df.head(10)
city_data_df.loc[city_data_df["Max Temp"]<=0]

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Qaanaaq,GL,2021-11-28 00-52-27,77.4840,-69.3632,0.00,98,98,1.90
15,15,Dikson,RU,2021-11-28 00-52-15,73.5069,80.5464,-12.93,97,100,9.01
22,22,Yar-Sale,RU,2021-11-28 00-56-31,66.8333,70.8333,-0.27,96,92,10.51
33,33,Nyurba,RU,2021-11-28 00-58-12,63.2842,118.3319,-2.27,92,97,9.19
35,35,Zyryanka,RU,2021-11-28 00-58-13,65.7500,150.8500,-37.19,100,37,2.17
44,44,Norman Wells,CA,2021-11-28 00-58-18,65.2820,-126.8329,-21.96,76,20,4.61
59,59,Nome,US,2021-11-28 00-59-10,64.5011,-165.4064,-16.69,99,28,4.45
61,61,Saskylakh,RU,2021-11-28 00-59-28,71.9167,114.0833,-3.87,93,98,10.27
72,72,Batagay-Alyta,RU,2021-11-28 00-55-13,67.8006,130.4114,-3.10,96,100,3.51
92,92,Leningradskiy,RU,2021-11-28 00-55-03,69.3833,178.4167,-19.93,90,8,9.51
94,94,Tiksi,RU,2021-11-28 00-53-35,71.6872,128.8694,-7.64,96,100,6.82
101,101,Aklavik,CA,2021-11-28 01-00-39,68.2191,-135.0107,-11.20,83,100,17.43
117,117,Chokurdakh,RU,2021-11-28 00-55-10,70.6333,147.9167,-31.68,99,100,0.58
125,125,Clyde River,CA,2021-11-28 00-55-13,70.4692,-68.5914,-8.73,99,97,5.93
126,126,Chara,RU,2021-11-28 01-00-49,56.9064,118.2631,-11.72,79,3,1.63
138,138,Cherskiy,RU,2021-11-28 00-57-53,68.7500,161.3000,-25.04,92,22,3.27
144,144,Egvekinot,RU,2021-11-28 01-01-54,66.3167,-179.1667,-16.08,84,0,4.97
145,145,Provideniya,RU,2021-11-28 01-00-43,64.3833,-173.3000,-4.68,82,11,6.44
146,146,Yellowknife,CA,2021-11-28 00-50-16,62.4560,-114.3525,-10.68,77,20,5.75
147,147,Orotukan,RU,2021-11-28 01-01-54,62.2667,151.7000,-21.37,83,9,2.33
148,148,Tuktoyaktuk,CA,2021-11-28 01-01-55,69.4541,-133.0374,-6.09,96,100,16.82
153,153,Pevek,RU,2021-11-28 00-52-26,69.7008,170.3133,-12.59,83,5,4.25
156,156,Barrow,US,2021-11-28 00-59-01,71.2906,-156.7887,-12.12,99,100,7.87
183,183,Batagay,RU,2021-11-28 01-02-05,67.6333,134.6333,-7.67,100,100,2.17
197,197,Srednekolymsk,RU,2021-11-28 01-03-11,67.4500,153.6833,-38.40,100,39,2.51
211,211,Aykhal,RU,2021-11-28 00-57-54,66.0000,111.5000,-9.81,95,100,12.15
247,247,Zhigansk,RU,2021-11-28 01-04-27,66.7697,123.3711,-1.62,98,100,6.82
268,268,Lavrentiya,RU,2021-11-28 01-04-34,65.5833,-171.0000,-10.70,94,6,7.70
323,323,Omsukchan,RU,2021-11-28 01-06-51,62.5333,155.8000,-16.69,97,69,4.16
361,361,Khatanga,RU,2021-11-28 01-04-35,71.9667,102.5000,-8.36,93,100,13.15
368,368,Talnakh,RU,2021-11-28 01-07-05,69.4865,88.3972,-0.98,97,100,7.85
439,439,Fairbanks,US,2021-11-28 01-06-12,64.8378,-147.7164,-13.04,70,90,0.00
440,440,Inuvik,CA,2021-11-28 01-09-31,68.3499,-133.7218,-8.64,95,100,17.07
473,473,Baykit,RU,2021-11-28 01-10-41,61.6700,96.3700,-1.16,100,100,1.79
519,519,Chernyshevskiy,RU,2021-11-28 01-11-57,63.0128,112.4714,-5.12,98,99,7.27

In [25]:
# Configure gmaps to use API Key
gmaps.configure(api_key = g_key)

In [30]:
#Heat layers cannot use negative values- use for loop to remove these
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [34]:
# HEatmap of temperature
#Get the latitude and Longitude 
city_data_df.dropna()
locations = city_data_df[["Lat", "Lng"]]

#Get max temp
max_temp = city_data_df["Max Temp"]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius = 4)

#Add the heatmap layer
fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
#Percent Humidity heat map
locations=city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating= False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
#Create a cloudiness heatmap
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
#Create a cloudiness heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
#Ask user to input ideal temp range for vacation
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))
#Filter the dataset to find the cities within the range
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>= min_temp)&(city_data_df["Max Temp"]<=max_temp)].dropna()
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip?60
What is the maximum temperature you would like for your trip?75

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Port Alfred,ZA,2021-11-28 00-58-02,-33.5906,26.8910,66.07,71,96,9.82
5,5,Payo,ID,2021-11-28 00-58-04,-3.7508,103.6372,73.99,73,100,1.86
9,9,Kaitangata,NZ,2021-11-28 00-56-28,-46.2817,169.8464,61.39,54,0,7.40
11,11,Xuddur,SO,2021-11-28 00-58-06,4.1213,43.8894,71.28,92,12,10.11
14,14,Acari,PE,2021-11-28 00-58-08,-15.4311,-74.6158,69.76,77,100,3.71
20,20,Broken Hill,AU,2021-11-28 00-55-00,-31.9500,141.4333,71.31,46,40,13.80
27,27,Codrington,AU,2021-11-28 00-55-09,-38.2667,141.9667,65.59,52,0,9.73
30,30,Cape Town,ZA,2021-11-28 00-52-11,-33.9258,18.4232,63.01,94,75,16.11
31,31,East London,ZA,2021-11-28 00-52-15,-33.0153,27.9116,63.46,90,6,4.92
36,36,Lucapa,AO,2021-11-28 00-58-14,-8.4192,20.7447,64.90,97,100,1.25

In [50]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [51]:
#Create dataframe called hotel_df to store hotel names along with city, country max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""


hotel_df.head()

           City Country  Max Temp      Lat       Lng Hotel Name
2   Port Alfred      ZA     66.07 -33.5906   26.8910
5          Payo      ID     73.99  -3.7508  103.6372
9    Kaitangata      NZ     61.39 -46.2817  169.8464
11       Xuddur      SO     71.28   4.1213   43.8894
14        Acari      PE     69.76 -15.4311  -74.6158

In [60]:
#using Nearby Search API call
#Set parameters for hotel search
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
#Iterate through the dataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for params
    params["location"]= f"{lat},{lng}"
    
    #Use the search term "lodging and lat and long
    base_url ="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make the request and get the json data
    hotels = requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")
hotel_df.head(10)

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Port Alfred,ZA,66.07,-33.5906,26.8910,The Halyards Hotel
5,Payo,ID,73.99,-3.7508,103.6372,Mess keban agung
9,Kaitangata,NZ,61.39,-46.2817,169.8464,Kaitangata Motor Camp
11,Xuddur,SO,71.28,4.1213,43.8894,Banjanay Hotel
14,Acari,PE,69.76,-15.4311,-74.6158,HOSPEDAJE XIMENA
20,Broken Hill,AU,71.31,-31.9500,141.4333,Royal Exchange Hotel
27,Codrington,AU,65.59,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
30,Cape Town,ZA,63.01,-33.9258,18.4232,Southern Sun Waterfront Cape Town
31,East London,ZA,63.46,-33.0153,27.9116,Tu Casa
36,Lucapa,AO,64.90,-8.4192,20.7447,ResidÃªncia Ulisses Dos Santos

In [63]:
#Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating= False, max_intensity=300, point_radius = 4)

#Create markers for locations
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
#Add markers
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
#Create info-box for pop up marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
#Store the datafram row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))